<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeLeaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeLeaf/Layout"
        xmlns:sec="http://www.w3.org/1999/xhtml"
layout:decorator="template">
<head>
    <meta charset="UTF-8">

    <title>Title</title>
</head>
<body>
<div layout:fragment="Content">
<div class="container mt-5">
    <div class="alert alert-dismissible alert-warning">
        <h4 class="alert-heading">Warning!</h4>
        <p  class="mb-0 font-weight-bold text-center h2">SVP Vous n'êtes pas autorisé</p>
    </div>
</div>
</div>
</body>
</html>